In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#import datetime library
from datetime import datetime

In [3]:
#calls variables to input into our Date/Time
my_year = 2017
my_month = 1
my_day = 2
my_hour = 13 # 13 = 1 o'clock, datetime goes by 24 hour instead of 12 hour
my_minute = 30
my_second = 15

In [4]:
#calls variable to store datetime data 
my_date =  datetime(my_year, my_month, my_day)

In [5]:
#if no time set, default time is 0:00:00
my_date

datetime.datetime(2017, 1, 2, 0, 0)

In [6]:
my_date_time = datetime(my_year, my_month, my_day, my_hour, my_minute, my_second)

In [8]:
my_date_time

datetime.datetime(2017, 1, 2, 13, 30, 15)

In [9]:
#has multiple attributes as a datetime object
type(my_date_time)

datetime.datetime

In [10]:
my_date_time.day

2

In [11]:
my_date_time.month

1

In [12]:
#datetime list/array
first_two = [datetime(2016,1,1),datetime(2016,1,2)]

In [13]:
first_two

[datetime.datetime(2016, 1, 1, 0, 0), datetime.datetime(2016, 1, 2, 0, 0)]

In [14]:
#pandas changes the date information in the list to the correct format we are comfortable looking at
dt_ind = pd.DatetimeIndex(first_two)

In [15]:
dt_ind

DatetimeIndex(['2016-01-01', '2016-01-02'], dtype='datetime64[ns]', freq=None)

In [17]:
#using numpy methods to create a random set of data
data = np.random.randn(2,2)
data

array([[-1.91707545,  0.408737  ],
       [ 0.54021754,  0.38502436]])

In [18]:
cols = ['a', 'b']

In [20]:
df = pd.DataFrame(data,dt_ind,cols)

In [21]:
df

                   a         b
2016-01-01 -1.917075  0.408737
2016-01-02  0.540218  0.385024

In [22]:
#index position of the largest value
df.index.argmax()

1

In [23]:
#returns the actual index value that contains the largest value
df.index.max()

Timestamp('2016-01-02 00:00:00')

In [24]:
#index position of the smallest value
df.index.argmin()

0

In [25]:
#returns the actual index value that contains the smallest value
df.index.min()

Timestamp('2016-01-01 00:00:00')